
/* 
    Created on : 22.06.2019, 12:29:31
    Author     : JAVA
*/

body{
    position: relative;
    top: .3in;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
body>article {
    padding-top: .3in;
    padding-bottom: .3in;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: lightgreen;
}

nav ul li {
    display: inline-block;
    width: auto;
    margin-right: 1em;
}

nav ul li:last-child{
    margin-right: 0;
}